body {
    font-family: Arial, sans-serif;
    background-color: rgb(0, 152, 144);
}

.header {
    text-align: center;
    color: rgb(148, 0, 0);
}

.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    gap: 20px;
    background-image: url('matematik.jpeg');
    background-size:contain;
}

.left-section {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    color: green;
}

.right-section {
    width: 40%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
    color: white;
    
}

.box {
    background-color: lightpink;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
}


.right-section .box {
    background-color: rgb(53, 0, 189);
}
.box:hover {
    background-color: rgb(209, 209, 102);
    cursor: pointer;
}
.box:active {
    background-color: rgb(255, 0, 0);
}
 
#sonuc-yazdir{
    text-align: center;
    font-size: 30px;
    color: white;

}